NODE_ENV="development"
PORT=3003

# Sentry
SENTRY_DSN="https://public@sentry.example.com"

# Database
MONGO_HOSTNAME="local-mongo"
MONGO_PORT=27017
MONGO_DATABASE="irango_cook"
MONGO_USERNAME="root"
MONGO_PASSWORD="password"

# AWS
AWS_REGION="us-east-1"
AWS_SECRET_ACCESS_KEY="qualquercoisa"
AWS_ACCESS_KEY_ID="qualquercoisa"

# SNS Topics
SNS_TOPIC_COOKING_STARTED="arn:aws:sns:us-east-1:000000000000:fiap-irango-cook_cooking-started_dev"
SNS_TOPIC_COOKING_FINISHED="arn:aws:sns:us-east-1:000000000000:fiap-irango-cook_cooking-finished_dev"

# SQS
URL_QUEUE=http://localhost:4566/000000000000/
CREATED_ORDER_QUEUE=fiap-irango-cook_order-created_dev
CONFIRM_PAYMENT_QUEUE=fiap-irango-cook_payment-confirmed_dev
